<h1>Create Lesson</h1>
<hr />
<%= form_for @lesson_form, :url => lessons_path do |form| %>
  <fieldset>
    <%= form.label :title, "タイトル", :class => "" %>
    <%= form.text_field :title, :class => "" %>
  </fieldset>
  <fieldset>
    <%= form.label :description, "説明", :class => "" %>
    <%= form.text_area :description, :class => "" %>
  </fieldset>
  <fieldset>
    <%= form.label :video, "ビデオID", :class => "" %>
    <%= form.text_field :video, :class => "" %>
  </fieldset>
  <fieldset>
    <%= form.label :script, "スクリプト", :class => "" %>
    <%= form.text_area :script, :class => "" %>
  </fieldset>
  <fieldset>
    <%= form.label :passcode, "パスコード", :class => "" %>
    <%= form.text_field :passcode, :class => "" %>
  </fieldset>
   <div class="">
    <%= form.submit "作成", :class => "" %>
  </div>

<% end %>
